/* .card > p {
    color: #6595ed;
} */

/* .card > p {
    color: rgb(248, 67, 211);
} */

/* .card > p {
    color: rgba(215, 43, 68, 0.5);
} */

/* .card > p {
    color: rgb(13, 168, 150);
} */

/* .card > p {
    color: rgb(13, 168, 150);
    -webkit-text-fill-color: rgb(0, 123, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
} */

/* .card > p {
    color:initial;
} */

/* .card{
    color: rgb(13, 168, 150);
}

p{
    color: inherit;
} */

/* .card > p {
    color: rgb(13, 168, 150)none;
} */

/* .card > .right{
    color: rgb(13, 168, 150)none;
    writing-mode: vertical-lr;
} */

 /* .card > p{
    color: rgb(13, 168, 150);
    text-align: justify;
    height: 120px;
    width: 120px;
} */

 /* .card > p{
    color: rgb(13, 168, 150);
    text-transform: uppercase;
    tab-size: 10px;
} */

/* .card > p{
    color: rgb(13, 168, 150);
    letter-spacing: 0.2em;
} */

/* .card > p{
    color: rgb(13, 168, 150);
    text-decoration: solid overline blue;
} */

/* .card > p{
    color: rgb(13, 168, 150);
} */