{{#with data}}
  <div class='post'>
    <strong class='post_title'>{{title}}</strong>
    <div class='post_info'>{{date}}
      by
      <section class='post_author'>{{author}}</section>
    </div>
    <p class='post_description'>{{description}}</p>
    <a href='#'>Continue reading</a>
  </div>
{{/with}}