<div class='card'>
  <div class='card-header'>
    Pro
  </div>
  <div class='card-body'>
    <div class='card_price'>
      <span class='card_price_amount'>
        0$
      </span>
      <span class='card_price_duration'>
        / mo
      </span>
    </div>
    <div class='card_description'>
      <span class='card_description_item'>
        10 users included
      </span>
      <span class='card_description_item'>
        10 users included
      </span>
    </div>
    <div class='card_block'>
      <button
        class='btn btn-outline-primary card_button'
      >fflf</button>
    </div>
  </div>
</div>